<!DOCTYPE html>
<html>
<head>
    <title>Home Page Requests Trap</title>
    <meta charset="utf-8" />
</head>
<body>
  <h1>Home page</h1>
  <h2> Please add any text after "/" in the address bar </h2>
  <p> <b> for example: /any_text </b> </p>
  <p> <b> or follow the link: <a href="/exampleURL">ExampleURL</a> </b> </p>
</body>
<html>