<!DOCTYPE html>
<html>
<head>
    <title>Request Trap</title>
    <meta charset="utf-8" />
</head>
<body>
  <h1>{{trapId}}</h1>  
  <p><a href="/${trapId}/requests">List of the received requests</a></p>
</body>
<html>